    <ul class="clearfix">
    	<#list courseItems as courseItem>
    		<li>
	            <a href="/course/toCourseDetail?courseId=${(courseItem.id)!}" class="mod-video" target="_blank">
	                <img src="${(courseItem.coverImageUrl)!}">
	                <h2>${(courseItem.name)!}</h2>
	                <span class="play-icon"><i class="iyoyo icon-video"></i></span>
	            </a>
	            <div class="clearfix course-info">
	                <span class="f-l"><i class="iyoyo icon-play"></i>${(courseItem.studyCounter)!}</span>
	                <span class="f-r">￥${(courseItem.price)!}</span>
	            </div>
	        </li>
    	</#list>
    </ul>
