 <!-- 专家顾问 -->
<h2 class="mod-level-header"><i class="iyoyo icon-wenzhuanjia"></i><span>专家顾问</span></h2>
<ul class="mod-study-tab clearfix jTab">
    <li class="active"><i class="iyoyo icon-guwen"></i><span>顾问团</span></li>
    <li><i class="iyoyo icon-zhuanjia"></i><span>导师团</span></li>
    <li><i class="iyoyo icon-gwManage"></i><span>专家团</span></li>
    <li><i class="iyoyo icon-jiangshi"></i><span>讲师团</span></li>
</ul>
<div class="expert-containenr">
    <div class="mod-expert active">
        <div class="expert-wrap active">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/zhangtiezhu.jpg" class="jImg"><span>顾问</span><b></b></a>
            <div class="expert-intr">
                <h3>张铁柱</h3>
                <h4>电子商务公共服务联盟主席</h4>
                <h4>中国电子商务产业园联盟主席</h4>
                <p class="mt-10">杭州市电子商务促进会秘书长</p>
                <p>杭州市电子商务专家资讯委员会副主任</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/guzhiwei.jpg" class="jImg"><span>顾问</span><b></b></a>
            <div class="expert-intr">
                <h3>谷志伟</h3>
                <h4>中国电子商务公共服务联盟 </h4>
                <h4>专家委员会 副主任</h4>
                <p class="mt-10">阿里巴巴平台8年电商领域实践经历 淘宝大学县长电商研修班</p>
                <p>传统企业转型电商总裁班培训产品策划人</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/chenshuguang.png" class="jImg"><span>顾问</span><b></b></a>
            <div class="expert-intr">
                <h3>陈曙光</h3>
                <h4>福建省电子商务协会专家委员会主任</h4>
                <h4>国家发改委电子商务示范城市专家咨询委员会委员</h4>
                <p class="mt-10">商务部电子商务专家咨询委员会委员</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/tangbingyong.jpg" class="jImg"><span>顾问</span><b></b></a>
            <div class="expert-intr">
                <h3>汤兵勇</h3>
                <h4>中国云计算应用联盟主席团主席</h4>
                <h4>中国电子商务协会移动商务专家咨询委员会副主任</h4>
                <p class="mt-10">东华大学-IBM电子商务学科发展中心主任</p>
            </div>
        </div>
        <ul class="expert-list clearfix jExpertTab">
            <li class="active"><img data-src="${resUrl!}/images/experts/zhangtiezhu.jpg" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/guzhiwei.jpg" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/chenshuguang.png" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/tangbingyong.jpg" class="jImg"></li>
        </ul>
    </div>

    <div class="mod-expert">
        <div class="expert-wrap active">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/weiyanan.jpg" class="jImg"><span>导师</span><b></b></a>
            <div class="expert-intr">
                <h3>魏延安</h3>
                <h4>共青团陕西省委农工部部长</h4>
                <h4>三农学者，农村电商专家</h4>
                <p class="mt-10">新浪全国十大党政官员微博、</p>
                <p>政务研究院资深讲师商务部农村电商专家</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/angang.jpg" class="jImg"><span>导师</span><b></b></a>
            <div class="expert-intr">
                <h3>安刚</h3>
                <h4>大有经纬国际电商有限公司 CEO </h4>
                <h4>九儿设计品牌创建者</h4>
                <p class="mt-10">7年来专注电子商务视觉营销</p>
                <p>拥有8万多客户，千余线下品牌企业客户</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/lijian.jpg" class="jImg"><span>导师</span><b></b></a>
            <div class="expert-intr">
                <h3>李健</h3>
                <h4>途歌电商 CEO</h4>
                <h4>中国国际电子商务中心首批特聘讲师北京大学、</h4>
                <p class="mt-10">厦门大学电商总裁班授课导师</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/panjunyue.jpg" class="jImg"><span>导师</span><b></b></a>
            <div class="expert-intr">
                <h3>潘君跃</h3>
                <h4>浙江赶街电商有限公司副总裁</h4>
                <h4>中国首个农产品电商模式“遂昌模式”联合创始人</h4>
                <p class="mt-10">擅长政府关系公共管理</p>
                <p>农产品定位及包装理念传播</p>
            </div>
        </div>
        <ul class="expert-list clearfix jExpertTab">
            <li class="active"><img data-src="${resUrl!}/images/experts/weiyanan.jpg" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/angang.jpg" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/lijian.jpg" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/panjunyue.jpg" class="jImg"></li>
        </ul>
    </div>

    <div class="mod-expert">
        <div class="expert-wrap active">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/yangming.jpg" class="jImg"><span>专家</span><b></b></a>
            <div class="expert-intr">
                <h3>杨敏</h3>
                <h4>淘宝大学总裁班讲师</h4>
                <h4>企业电商教练 10年淘宝天猫运营经验</h4>
                <p class="mt-10">指导过的电商企业：Asics旗舰店</p>
                <p>米素旗舰店，阿仕顿旗舰店</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/zhaozhiqiang.jpg" class="jImg"><span>专家</span><b></b></a>
            <div class="expert-intr">
                <h3>赵志强</h3>
                <h4>中国电商协会讲师团副秘书长 </h4>
                <h4>阿里巴巴集团县域电商特邀专家</h4>
                <p class="mt-10">互联网＋行动联盟副秘书长</p>
                <p>阿里巴巴集团县域电商特邀专家</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/zhouwei.png" class="jImg"><span>专家</span><b></b></a>
            <div class="expert-intr">
                <h3>周伟</h3>
                <h4>独立电商网站创建者</h4>
                <h4>10年互联网老兵。6年电子商务经验</h4>
                <p class="mt-10">2012年至今，扎根淘宝运营，数据分析</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/wangyongneng.jpg" class="jImg"><span>专家</span><b></b></a>
            <div class="expert-intr">
                <h3>王勇能</h3>
                <h4>建德市峻壹恣服装公司 运营总监</h4>
                <h4>浙江大学电商运营人才班 特聘讲师</h4>
                <p class="mt-10">KAB创业教育 全国培训师</p>
                <p>人社部高级创业咨询师</p>
            </div>
        </div>
        <ul class="expert-list clearfix jExpertTab">
            <li class="active"><img data-src="${resUrl!}/images/experts/yangming.jpg" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/zhaozhiqiang.jpg" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/zhouwei.png" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/wangyongneng.jpg" class="jImg"></li>
        </ul>
    </div>

    <div class="mod-expert">
        <div class="expert-wrap active">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/lumin.png" class="jImg"><span>讲师</span><b></b></a>
            <div class="expert-intr">
                <h3>鲁敏</h3>
                <h4>洪海龙腾培训总监</h4>
                <h4>5年电商培训经验</h4>
                <p class="mt-10">操作过淘宝、天猫、京东等多平台</p>
                <p>服务近100家大、中、小卖家，涉及多个类目</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/huangxiangmei.jpg" class="jImg"><span>讲师</span><b></b></a>
            <div class="expert-intr">
                <h3>黄香梅</h3>
                <h4>杭州点心科技有限公司总经理 </h4>
                <h4>成立杭州点心科技有限公司</h4>
                <p class="mt-10">现在合作的淘宝以及天猫店铺达到60家以上</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/hena.png" class="jImg"><span>讲师</span><b></b></a>
            <div class="expert-intr">
                <h3>何娜</h3>
                <h4>广州悦姿信贸易有限公司 总经理</h4>
                <h4>狮子会特聘讲师</h4>
                <p class="mt-10">天下网商高级分析师</p>
                <p>派代商学院讲师</p>
            </div>
        </div><div class="expert-wrap">
            <a href="javascript:;" class="expert-img"><img src="${resUrl!}/images/experts/xuehong.jpg" class="jImg"><span>讲师</span><b></b></a>
            <div class="expert-intr">
                <h3>薛红</h3>
                <h4>杭州常春藤有限公司运营总监</h4>
                <h4>8年电子商务行业经验</h4>
                <p class="mt-10">2014年加入杭州常春藤实业有限公司</p>
                <p>负责农产品线上运营总监</p>
            </div>
        </div>
        <ul class="expert-list clearfix jExpertTab">
            <li class="active"><img data-src="${resUrl!}/images/experts/lumin.png" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/huangxiangmei.jpg" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/hena.png" class="jImg"></li>
            <li><img data-src="${resUrl!}/images/experts/xuehong.jpg" class="jImg"></li>
        </ul>
    </div>


</div>