<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    ${(widget.get("widgets/meta.html"))!}
    <link rel="stylesheet" href="//s1.zzhstatic.com/JXplat/dist/css/conf/login.css?v=${staticVersion}" type="text/css" charset="utf-8">
</head>

<body>
    <!-- 我是注释 -->
    <!-- 主要内容 start-->
    <form class="mod-form" id="jSigninForm">
        <div class="ulform" id="jContainer">
           <div><i class="iyoyo icon-admin"></i><input type="text" name="username" placeholder="手机号／邮箱" class="ui-input" /></div> 
           <div ><i class="iyoyo icon-mima"></i><input type="password" name="password" placeholder="登录密码" class="ui-input"/></div>
            <div><a href="javascript:;"  class="submit ui-btn" id="jMSubBtn">登录</a></div>
            <div class="clearfix mod-user-process"><a href="javascript:;" class="forget-pwd f-l jToReset">忘记密码？</a><a href="javascript:;" class="to-register f-r jToRes">立即注册</a></div>
        </div>
    </form>
    <!-- 主要内容 end-->
    ${(widget.get("widgets/js.html"))!}
    <script type="text/javascript">
    require(['conf/login'], function() {});
    </script>
</body>

</html>
